.calendar-container {
    height: 50%; // Ajusta la altura para que el calendario ocupe todo el espacio disponible
    overflow-y: auto;
    background-color: rgb(255, 255, 255); // O un color adecuado para tu tema
  }
  
  mwl-calendar-month-view {
    width: 50%; // Asegúrate de que el calendario se ajuste al ancho
  }