
<ion-menu contentId="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menu Content</ion-title>
    </ion-toolbar>
  </ion-header>
      <ion-menu-toggle>
        <ion-button></ion-button>
      </ion-menu-toggle>
    <ion-content class="ion-padding">This is the menu content.
      <ion-accordion-group>
        <ion-accordion value="first">
          <ion-item slot="header" color="translucent">
            <ion-icon name="person-outline" aria-hidden="true" ></ion-icon>
            <ion-label>Usuario</ion-label>
          </ion-item>
          <div class ='ion-padding' slot="content">
            <ion-button  expand="block" (click)="datosUsuario()">Datos de Usuario</ion-button>
            <ion-button  expand="block" (click)="editarUsuario()">Configuración de Usuario</ion-button>
          </div>
          
        </ion-accordion>
        <ion-accordion value="second">
          <ion-item slot="header" color="translucent">
            <ion-icon name="settings-outline" aria-hidden="true"></ion-icon>
            <ion-label>Configuraciones</ion-label>
          </ion-item>
          <div class="ion-padding" slot="content">
            <ion-button  expand="block" (click)="menuConfig()">Configuración de Usuario</ion-button>
          </div>
        </ion-accordion>
          <ion-accordion value="third">
            <ion-item slot="header" color="translucent">
              <ion-icon name="albums-outline" aria-hidden="true"></ion-icon>
              <ion-label>Inventarios</ion-label>
            </ion-item>
            <div class="ion-padding" slot="content">Third Content</div>
          </ion-accordion>
        <ion-accordion value="fourth">
          <ion-item slot="header" color="translucent">
            <ion-icon name="albums-outline" aria-hidden="true"></ion-icon>
            <ion-label>Cerrar sesión</ion-label>
          </ion-item>
          <div class="ion-padding" slot="content">fourth Content
          <ion-button expand="full" color="danger" (click)="logout()">Cerrar sesión</ion-button>
        </div>
        </ion-accordion>
      </ion-accordion-group>
    </ion-content>
      <ion-img
          src="https://media1.tenor.com/m/AtKPpo2MXFEAAAAd/dog-burning.gif"
        ></ion-img>
</ion-menu>

<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <button ion-button class='ion-button-menu'>
      Boton Inventarios
    </button>
    <ion-fab-button (click)="agregarFotoaGaleria()">
      <ion-icon name="camera"></ion-icon>
    </ion-fab-button>
  </ion-content>
</div>

